node_modules/
.idea/
wwwroot/build/
wwwroot/doc/
wwwroot/index.html
wwwroot/version.json
npm-debug.log
version.js
.DS_Store
.localized
.sass-cache
/terriajs.pid
/terriajs-server.log

/wwwroot/editor/
/error.log
/error.log
/output.log
yarn-error.log
privateserverconfig.json
wwwroot/privateconfig.json
packages/
deploy/helm/sync_dir/
deploy/helm/index_dir/
.cache/
playwright-report/
test-results/

deploy/**/charts